{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Calories Today</h1>
<br />
<h3 align="center"> {{user.current_intake}} / {{user.kcal_intake}}</h3>
<br />
<br />
<form method="POST">
  <h3 align="center">Add Calories</h3>
  <div class="form-group">
    <label for="calories">Add Calories</label>
    <input
      type="number"
      class="form-control"
      id="calories"
      name="calories"
      placeholder="Enter the amount of calories"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
